@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: #fff;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  position: relative;
  background-image: url(./img/bg-gallery.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.title {
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: rgba(203, 199, 189, 0.5);
  border: 2px solid rgba(216, 215, 212, 0.8);
  border-radius: 50px;
}

.title img {
  width: 60px;
  border-radius: 30px;
}

.title-text {
  font-size: 16px;
}

.title-text h1 {
  margin: 0;
}

.title-text p {
  margin: 0;
}

.container_slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 500px;
  width: 500px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  height: 100%;
}

.text {
  padding: 20px;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-shadow: 1px 1px 4px #111;
}

.text h3 {
  font-size: 20px;
  margin: 0;
}

.text p {
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}